* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-45deg, transparent 50%, #fff7d1 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

